<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Crtvu.Dal.Properties.Settings.CrtvuConnectionString"
            connectionString="Data Source=.;Initial Catalog=Crtvu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Crtvu.Dal.Properties.Settings.teamsmsdbConnectionString"
            connectionString="Data Source=.;Initial Catalog=teamsmsdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>